.timer-container {
  display: block;
  align-content: center;
  width: 600px;
  height: fit-content;
  margin: 200 auto;
}

.timer {
  display: flex;
  width: 400px;
  height: fit-content;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30;
  row-gap: 20;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 90px;
}

.label {
  font-size: 25px;
}

.button {
  margin-left: 120px;
  width: 90px;
  height: 50px;
  background-color: #7ffae3;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

.input {
  font-size: 20px;
}
